*.sass-cache
*node_modules
*npm-debug.log
*.DS_Store
*.sublime-*
*sftp-config.json

/*
!.gitignore
!wp-content/
!README.md
!todo.txt

wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/mu-plugins/
!wp-content/languages/

wp-content/plugins/*

wp-content/themes/*
!wp-content/themes/nocboard/

wp-content/languages/*