/************************************************************************************
GRID
*************************************************************************************/
.col4-1,
.col4-2,
.col4-3,
.col3-1,
.col3-2,
.col2-1
{
	margin-left: 3.2%;
	float: left;
}
.col4-1 {
	width: 22.6%;
}
.col4-2, .col2-1 {
	width: 48.4%;
}
.col4-3 {
	width: 74.2%;
}
.col3-1 {
	width: 31.2%;
}
.col3-2 {
	width: 65.6%;
}
.col.first,
.col4-1.first,
.col4-2.first,
.col4-3.first,
.col3-1.first,
.col3-2.first,
.col2-1.first
{
	margin-left: 0;
	clear: left;
}