/******************************************************************

Stylesheet: Variables

******************************************************************/


/*********************
COLORS
*********************/

$colors: (
 'blue': (
   base: 	#008EA5,

   // trans: transparentize(#0069AA, .35),
   // trans-light: transparentize(#76D8FF, .35),
   // trans-dark: transparentize(#051C35, .35),
 ),
 'yellow': (
   base: 	#FFBF00,
 ),
 // 'red': (
 //   base: #a00,
 //   light: #ff0000,
 // ),
 // 'grey': (
 //   dark: 	  #333,
 //   base: 	  #D8D8D8,
 //   lightish:  #e9e9e9, //for dropdown
 //   light: 	  #F5F5F5,
 // ),
 'black': (
   base: 	#4A4A4A,
   trans: 	transparentize(#4A4A4A, .3)
 ),
 'white': (
   base: 	#fff,
   trans: 	transparentize(#fff, .5)
 ),
 'social': (
   facebook:	#3c5a9a,
   twitter: 	#55acee,
   google: 		#de4b39,
   reddit: 		#cee3f8,
   linkedin: 	#007bb5,
   youtube: 	#cc181e,
 )
);

@function color($color-name, $tone: base) {
    @return map-get(map-get($colors, $color-name), $tone);
}

//usage
// a {
//   color: color('grey', 'dark');
// }